//anywhere
vagrat -v
cd ~  //root directory
git .bat ta dekho
vagrant@homestead:~$
rm -rf code //code namer folder remove hobe

kono folder a git bash open koro
touch index.php
laravel //laravel installer ve